.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.taglist {
    background-color: #FF6060;
    color: white;
    border-radius: 8px;
    padding: 3px 13px;
    font-size: 13px;
    font-weight: 500;
}
